main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  border: 4px solid grey;
  border-style: dashed;
  border-radius: 10px;
  text-align: justify;
}

.card * {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card h2 {
  text-align: right;
  border-bottom: 2px solid #abb2bf;
}

.line {
  background-color: grey;
  margin-top: 2rem;
  width: 50%;
  height: 2px;
}

.skill-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-icons * {
  padding: 10px;
  font-size: 250%;
  color: white;
}

.images * {
  padding-top: 1rem;
  border-radius: 10px;
}
