* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: #0f1419;
  color: #abb2bf;
  line-height: 20px;
}

.navbar {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 50%;
}

.nav-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  font-size: 300%;
  box-shadow: 1px 1px 1px 1px #abb2bf;
  border-radius: 10px;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px grey;
}

.navbar li {
  list-style: none;
  padding: 1rem;
  font-size: 150%;
}

.link {
  text-decoration: none;
}

main h1 {
  color: #61afef;
}
main h2 {
  color: white;
}

main {
  padding: 2rem;
}

@media screen and (min-width: 700px) {
  main {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.bism {
  padding-top: 2rem;
  text-align: center;
}

footer {
  padding-top: 0.5rem;
  text-align: center;
  font-size: small;
  color: white;
}

.end {
  background-color: #abb2bf;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  font-weight: bolder;
}
